header{
  text-align: center;
  background-image: url(images/istockphoto-474073402-612x612.jpg);
  background-repeat:no-repeat;
  background-position: center;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;
  margin: 20px;
}
h1 {
text-align: center;
color: deepskyblue;
background-color: rgb(87, 87, 87);
background-position: center;
width: 200px;
text-align: center;
}
.header-div{
  
.introP {
  background-color: aqua;
  text-size-adjust:50px ;
  padding: 10px;
  color: grey;
  text-align: center;
  display: inline;
}
}
body {
  background-image: url(images/istockphoto-1156963574-612x612.jpg) ;
  width: 100%;
  height: 100%;
}

.space-img{
  width: 100px;
}

.spaceneedle{
  height: 100px;
}
.search-bar{
  margin-bottom: 25px;
}
.Architecture-stuff {
  width: 150px;
}
svg {
 width: 50px;
}

.img-div{
  display: block;
}

div{
  display: flex;
  width: 100%;

}



